/* This was created to override the bootstrap styles used by sveltestrap. Put your sveltestrap component styles here */

.card {
    width: 340px;
    height: 400px;
}
.card-body {
    padding: 0;
}
.card-body img {
    width: 100%;
    height: 100%;
}